<div *ngIf="!isEditMode; else isEdit">
<!-- expense category modal -->
<ng-template #content let-modal>
  <form (ngSubmit)="OnAddExpenseCategory(c)" #c="ngForm">
  <h1 mat-dialog-title>Add Expense Category</h1>
  <div mat-dialog-content>

    <mat-form-field>
      <mat-label>Expense Category</mat-label>
      <input matInput ngModel name="CategoryName" type="text">
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <!-- <button mat-button (click)="closeDialog(content)">Cancel</button> -->
    <button mat-flat-button color="primary" type="submit">Submit</button>
  </div>
</form>
</ng-template>

<!-- expense modal -->
  <h1 mat-dialog-title>Add Expense
    <span class="add-expense-link">
      <a mat-button [routerLink]="" (click)="openDialog(content)">Add Expense Category</a>
    </span>
  </h1>

<div mat-dialog-content>
  <form (ngSubmit)="OnAddExpense(f)" #f="ngForm">

    <mat-form-field appearance="standard">

      <mat-label>Select Type</mat-label>
      <mat-select name="EquipmentType" ngModel>
        <mat-option *ngFor="let category of expenseCategoryModel" value="{{category.Id}}">
          {{category.CategoryName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Amount</mat-label>
      <input matInput placeholder="Amount" ngModel name="Amount" type="number">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Currency</mat-label>
      <mat-select ngModel name="Currency">
        <mat-option value="NGN"> &#8358; (NGN)</mat-option>
        <mat-option value="USD">&#36; (USD)</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" name="Description" ngModel rows="2"></textarea>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Expense Date</mat-label>
      <input matInput [matDatepicker]="picker" ngModel #eDate name="ExpenseDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">Submit</button>
  </form>
</div>
</div>

<ng-template #isEdit>
<!-- expense category modal -->
<ng-template #content let-modal>
  <form (ngSubmit)="OnAddExpenseCategory(c)" #c="ngForm">
  <h1 mat-dialog-title>Add Expense Category</h1>
  <div mat-dialog-content>

    <mat-form-field>
      <mat-label>Expense Category</mat-label>
      <input matInput ngModel name="CategoryName" type="text">
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <!-- <button mat-button (click)="closeDialog(content)">Cancel</button> -->
    <button mat-flat-button color="primary" type="submit">Submit</button>
  </div>
</form>
</ng-template>

<!-- expense modal -->
  <h1 mat-dialog-title>Edit Expense
    <span class="add-expense-link">
      <a mat-button [routerLink]="" (click)="openDialog(content)">Add Expense Category</a>
    </span>
  </h1>

<div mat-dialog-content>
  <form (ngSubmit)="OnEditExpense(editForm)" [formGroup]="editForm">

    <input type="hidden" formControlName="ExpenseId" value="">

    <mat-form-field appearance="standard">

      <mat-label>Select Type</mat-label>
      <mat-select formControlName="Category">
        <mat-option *ngFor="let category of expenseCategoryModel" value="{{category.Id}}">
          {{category.CategoryName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Amount</mat-label>
      <input matInput placeholder="Amount" formControlName="Amount" type="number">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Currency</mat-label>
      <mat-select formControlName="Currency">
        <mat-option value="NGN"> &#8358; (NGN)</mat-option>
        <mat-option value="USD">&#36; (USD)</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" formControlName="Description" rows="2"></textarea>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Expense Date</mat-label>
      <input matInput [matDatepicker]="picker" #eDate formControlName="ExpenseDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">Submit</button>
  </form>
</div>
</ng-template>
