.add-expense-link a{
    font-size: 10px;
    float: right;
    text-decoration: none;
}
.add-expense-link a:visited{
    font-size: 10px;
    float: right;
    text-decoration: none;
    color: black;
}
.mat-dialog-title{
    font-size: 14px !important;
}
