<div *ngIf="!isEditMode; else isEdit">
  <mat-grid-list cols="4" rowHeight="fit">

    <mat-grid-tile colspan="3">
      <mat-card style="width: 60%;">
        <mat-card-title class="mat-card-title">Add Product</mat-card-title>
        <mat-card-content>
          <form (ngSubmit)="AddProduct(addProductForm)" #addProductForm="ngForm">
            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Image Url
                </mat-label>
                <input matInput name="Image" (change)="inputSelected($event)" ngModel placeholder="Image url"
                  value="{{productModel.Image}}">
              </mat-form-field>
            </mat-list>

            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Select Type</mat-label>
                <mat-select name="EquipmentType" ngModel>
                  <mat-option value="">Select Equipment Type</mat-option>
                  <mat-option value="heavy equipment">Heavy equipment</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-list>

            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Equipment Model</mat-label>
                <input matInput placeholder="CH Model" name="Model" ngModel>
              </mat-form-field>
            </mat-list>

            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Manufacture Year</mat-label>
                <input matInput placeholder="1993" name="Year" ngModel type="number">
              </mat-form-field>
            </mat-list>

            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Product Name</mat-label>
                <input matInput name="ProductName" ngModel placeholder="Product Name">
              </mat-form-field>
            </mat-list>

            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Vin Number</mat-label>
                <input matInput name="VinNumber" ngModel placeholder="Vin Number">
              </mat-form-field>
            </mat-list>

            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Purchase Location</mat-label>
                <input matInput name="PurchaseLocation" ngModel placeholder="Purchase Location">
              </mat-form-field>
            </mat-list>

            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Purchase Date</mat-label>
                <input matInput [matDatepicker]="picker" ngModel #pDate name="PurchaseDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field>
            </mat-list>
            <button mat-flat-button color="primary" type="submit">Submit</button>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">
      <img mat-card-image [src]="Imagesrc" alt="">
    </mat-grid-tile>

  </mat-grid-list>
</div>

<!-- if in edit mode -->
<ng-template #isEdit>
  <mat-grid-list cols="4" rowHeight="fit">
    <mat-grid-tile colspan="3">
      <mat-card style="width: 60%;">
        <mat-card-title class="mat-card-title">Edit Product</mat-card-title>
        <mat-card-content>
          <form (ngSubmit)="EditProduct(editProductForm)" #editProductForm="ngForm">

            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Image Url</mat-label>
                <input matInput name="Image" (change)="inputSelected($event)" [(ngModel)]="productModel.Image"
                  placeholder="Image url">
              </mat-form-field>
            </mat-list>

            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Select Type</mat-label>
                <mat-select name="EquipmentType" ngModel>
                  <mat-option value="">Select Equipment Type</mat-option>
                  <mat-option value="heavy equipment">Heavy equipment</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-list>

            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Equipment Type</mat-label>
                <input matInput placeholder="CH Model" name="Model" ([ngModel])="productModel.EquipmentType">
              </mat-form-field>
            </mat-list>

            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Manufacture Year</mat-label>
                <input matInput placeholder="1993" name="Year" ([ngModel])="productModel.Year" type="number">
              </mat-form-field>
            </mat-list>

            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Product Name</mat-label>
                <input matInput name="ProductName" [(ngModel)]="productModel.ProductName" placeholder="Product Name">
              </mat-form-field>
            </mat-list>

            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Vin Number</mat-label>
                <input matInput name="VinNumber" [(ngModel)]="productModel.VinNumber" placeholder="Vin Number">
              </mat-form-field>
            </mat-list>

            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Purchase Location</mat-label>
                <input matInput name="PurchaseLocation" [(ngModel)]="productModel.PurchaseLocation" placeholder="Purchase Location">
              </mat-form-field>
            </mat-list>

            <mat-list>
              <mat-form-field appearance="standard">
                <mat-label>Purchase Date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)] = "productModel.PurchaseDate" #pDate name="PurchaseDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field>
            </mat-list>
            <button mat-flat-button color="primary" type="submit">Submit</button>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">
      <img mat-card-image [src]="productModel.Image" alt="">
    </mat-grid-tile>

  </mat-grid-list>
</ng-template>