
  <mat-accordion>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Payments - {{productModel.VinNumber}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="expense-spacing">
              Date Paid
            </th>
            <td mat-cell *matCellDef="let payments" class="expensetable-data">
              {{payments.Date_Paid | date:"MM/dd/yy"}}
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef class="expense-spacing">
              Amount
            </th>
            <td mat-cell *matCellDef="let payments" class="expensetable-data">
              &#36; {{payments.AmountPaid}}
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="expense-description">
              Description
            </th>
            <td mat-cell *matCellDef="let payments" class="expensetable-data">
              {{payments.Description}}
            </td>
          </ng-container>


          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let payments">
              <div class="example-button-container">
                <button (click)="editPayment(payments, true, saleModel)"
                  mat-mini-fab
                  color="primary"
                  type="button"
                  style="margin-right: 5px;"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warm" type="button" (click)="onDeletePayment(payments.Id)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </div>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let expenses; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sale Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expense-product-details">
        <img
          [src]="productModel.Image"
          class="img-fluid rounded mt-5 product-image"
          style="max-width: 100%;"
        />
        <p>Vin Number: {{productModel.VinNumber}}</p>
        <p>Sale price: <label class="badge badge-primary">{{ saleModel.Currency + ' ' + saleModel.Amount}}</label></p>
        <p>
          Total Amount Paid:
          <span class="badge badge-danger"
            >&#36; {{ totalPaid.Amount | number }}</span
          >
        </p>
        <p>Date sold: {{saleModel.SaleDate | date:"MM/dd/yy"}}</p>

        <p>Sale location: {{saleModel.SaleLocation}}</p>

        <p>{{ productModel.ProductName }} | {{ productModel.Model }} | {{ productModel.Year }}</p>

          <button (click)="addPayment(saleModel)" mat-flat-button color="primary" class="productdetail-actions"
          >Add Payment</button>


        <button type="button" mat-flat-button color="primary"  (click)="openSaleModal(saleModel)" class="productdetail-actions">Edit Sale</button>

          <button type="button" mat-flat-button color="primary" (click)="onDeleteSale(saleModel.Id)">Delete Sale</button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

<!--
<div class="container" *ngIf="saleModel.Amount != null; else noSale">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <img [src]="productModel.Image" class="img-fluid rounded mt-5 product-image" style="max-width: 100%;" />
      <div class="product-detail no-padding mt-3 p-0">
        <h3>Product Detail</h3>
        <p>Purchase Location: {{productModel.PurchaseLocation}}</p>
        <p>Purchase Date: {{productModel.PurchaseDate | date:"MM/dd/yy"}}</p>
        <p>Vin Number: {{productModel.VinNumber}}</p>
        <p>Product Name: {{productModel.ProductName}}</p>
        <p>Model: {{productModel.Model}}</p>
        <p>Year: {{productModel.Year}}</p>
        <p>Sale price: <label class="badge badge-primary">{{ saleModel.Currency + ' ' + saleModel.Amount}}</label></p>
        <p>Date sold: {{saleModel.SaleDate | date:"MM/dd/yy"}}</p>
        <p>Sale location: {{saleModel.SaleLocation}}</p>
        <p>Total amount paid: {{ totalPaid.Amount }}</p>
        <button type="button" class="btn btn-primary mr-2" (click)="addPayment(saleModel)">Add Payment</button>
        <button type="button" class="btn btn-info mr-2" (click)="openSaleModal(saleModal)">Edit Sale</button>

        <button type="button" class="btn btn-danger" (click)="onDeleteSale(saleModel.Id)">Delete Sale</button>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="product-detail text-center">
        <h3>Payments</h3>
      </div>
      <div style="overflow-x: scroll">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
              <th scope="col">Description </th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let p of paymentList; index as i">
              <th scope="row">{{i + 1}}</th>
              <td>{{p.Date_Paid | date:"MM/dd/yy"}}</td>
              <td>{{p.AmountPaid}}</td>
              <td>{{p.Description}}</td>

              <td class="w-2">
                <button type="button" rel="noopener noreferrer" (click)="editPayment(p,true, saleModel)"
                  class="btn btn-sm btn-outline-info mr-2">Edit</button>
                <button (click)="onDeletePayment(p.Id)" class="btn btn-sm btn-outline-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div> -->

<ng-template #noSale>
  <div class="container">
    <p class="text-center mt-5">Opps!! no sale found on this product</p>

  </div>
</ng-template>
