<div class="container mt-5">
  <div class="col-md-12">
    <div class="product-detail text-center">
      <h3>Expense Category</h3>
    </div>
    <div style="overflow-x: scroll">
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date Created</th>
            <th scope="col">Category Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let e of expenseCategoryList; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ e.DateCreated | date:"yyyy/MM/dd"}}</td>
            <td>{{e.CategoryName}}</td>

            <td class="w-2">
              <button type="button" rel="noopener noreferrer" (click)="open(e)"
                class="btn btn-sm btn-outline-info mr-2">Edit</button>
              <button (click)="onDeleteCategory(e.Id)" class="btn btn-sm btn-outline-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
