.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

/* .sidenav .mat-toolbar {
  background: inherit;
} */

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.hide-nav{
  display: none;
}


.brand,.menuitems a{
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}
.main-container{
  padding: 0 130px;
  margin:24px auto;
}
.main-container-mobile{
  padding: 0 15px;
}