<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
      class="sidenav"
      [ngClass]="{'hide-nav': (isHandset$ | async) === false}"
      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
     >
    <mat-toolbar color="primary">EquipTrack</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item>
        <button mat-button [matMenuTriggerFor]="productsmenu">Products</button>
        <mat-menu #productsmenu="matMenu">
          <button mat-menu-item routerLink="/add-product">Add Product</button>
          <button mat-menu-item routerLink="/view-product">View Products</button>
        </mat-menu>
      </a>

      <a mat-list-item>
        <button mat-button [matMenuTriggerFor]="expensemenu">Expenses</button>
        <mat-menu #expensemenu="matMenu">
          <button mat-menu-item>Add Expense</button>
          <button mat-menu-item>View Expenses</button>
          <button mat-menu-item>View Category List</button>
        </mat-menu>
      </a>

      <a mat-list-item>
        <button mat-button [matMenuTriggerFor]="salesmenu">Sales</button>
        <mat-menu #salesmenu="matMenu">
          <button mat-menu-item>Add Sales</button>
          <button mat-menu-item>View Sales</button>
        </mat-menu>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a class="brand" routerLink="/">EquipTrack</a></span>
      <span class="spacenavitems"></span>
      <div *ngIf="!(isHandset$ | async)" class="menuitems">

        <span mat-list-item>
          <button mat-button [matMenuTriggerFor]="productsmenu">Products</button>
            <mat-menu #productsmenu="matMenu">
              <button mat-menu-item routerLink="/add-product">Add Product</button>
              <button mat-menu-item routerLink="/view-product">View Products</button>
            </mat-menu>
        </span>

        <span mat-list-item>
          <button mat-button [matMenuTriggerFor]="expensemenu">Expenses</button>
            <mat-menu #expensemenu="matMenu">
              <!-- <button mat-menu-item routerLink="/add-expense">Add Expense</button>
              <button mat-menu-item  routerLink="/view-expenses">View Expenses</button> -->
              <button mat-menu-item  routerLink="/expense-category">View Category List</button>
            </mat-menu>
        </span>

        <span mat-list-item>
          <button mat-button [matMenuTriggerFor]="salesmenu">Sales</button>
            <mat-menu #salesmenu="matMenu">
              <!-- <button mat-menu-item routerLink="/add-sales">Add Sales</button> -->
              <button mat-menu-item routerLink="/View-sales">View Sales</button>
            </mat-menu>
        </span>

      </div>
    </mat-toolbar>
    <div class="main-container" [ngClass]="{'main-container-mobile': (isHandset$ | async) === true}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
