<div *ngIf="!data.isedit; else isEdit">
<h4 mat-dialog-title>Add Payment</h4>
<div mat-dialog-content>
  <form (ngSubmit)="onAddPayment(f)" #f="ngForm">
    <mat-form-field  appearance="standard">
      <mat-label>Amount</mat-label>
      <input matInput ngModel name="Amount" type="number">
    </mat-form-field>

    <mat-form-field  appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput name="Description" ngModel rows="3"></textarea>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Payment Date</mat-label>
      <input matInput [matDatepicker]="picker" ngModel #pDate name="Date_Paid">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button type="button">Cancel</button>
      <button type="submit" mat-flat-button cdkFocusInitial color="primary">Submit</button>
    </div>

  </form>
</div>
</div>
<ng-template #isEdit>
  <form (ngSubmit)="onEditPayment(f)" #f="ngForm">

    <input type="hidden" name="Id" [ngModel]="data.sale.Id">

    <mat-form-field  appearance="standard">
      <mat-label>Amount</mat-label>
      <input matInput ngModel [ngModel]="data.sale.AmountPaid" name="Amount" type="number">
    </mat-form-field>

    <mat-form-field  appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput [ngModel]="data.sale.Description" name="Description" rows="3"></textarea>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Payment Date</mat-label>
      <input matInput [matDatepicker]="picker" #pDate name="Date_Paid" [(ngModel)]="paymentDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <button mat-button type="button">Cancel</button>
    <button type="submit" mat-flat-button cdkFocusInitial color="primary">Submit</button>
    </form>
</ng-template>
<!-- <div *ngIf="!isEdit;else edit">
  <div class="modal-header">
    <h4 class="modal-title">Add Payment</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <form (ngSubmit)="onAddPayment(f)" #f="ngForm">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Amount</label>
            <input class="form-control" ngModel name="Amount" type="number" />
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" name="Description" ngModel rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Date</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="Date_Paid" ngModel ngbDatepicker
                #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
  </div>
</div>
<ng-template #edit>
  <div class="modal-header">
    <h4 class="modal-title">Edit Payment</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 col-sm-12">

        <form (ngSubmit)="onEditPayment(f)" #f="ngForm">

          <input type="hidden" name="Id" [ngModel]="paymentModel.Id">

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Amount</label>
            <input class="form-control" [ngModel]="paymentModel.AmountPaid" name="Amount" type="number" />
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" [ngModel]="paymentModel.Description" name="Description" ngModel
              rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Date</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="Date_Paid" [(ngModel)]="paymentDate"
                ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
  </div>
</ng-template> -->
