.product-detail {
  padding: 10%;
  white-space: nowrap;
}

.product-image {
  height: 400px;
  width: 400px;
}
table{
  width: 100%;
  overflow-x: scroll;
}
table th{
  font-weight: bold;
}

@media(min-width: 360px) {
  .product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
  }
  .product-detail {
    text-align: center;
  }
  .expense-description{
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;

  }
  .expense-spacing{
    width:15%;
    margin-right: 10px;
  }
  }

.expense-description{
  width: 50%;
  overflow-wrap: break-word;
  word-wrap: break-word;

}
.expensetable-data{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
}
.example-button-container {
  padding:7px;
  justify-content: center;
}
.expense-product-details{
  text-align: center;
}
