<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Expenses - {{productExpense.VinNumber}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef class="expense-spacing">
            Category
          </th>
          <td mat-cell *matCellDef="let expenses" class="expensetable-data">
            {{ expenses.Category }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="expense-spacing">
            Amount
          </th>
          <td mat-cell *matCellDef="let expenses" class="expensetable-data">
            &#36; {{ expenses.Amount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="expense-description">
            Description
          </th>
          <td mat-cell *matCellDef="let expenses" class="expensetable-data">
            {{ expenses.Description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let expenses" class="expensetable-data">
            {{ expenses.ExpenseDate | date: "longDate" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let expenses">
            <div class="example-button-container">
              <button (click)="openExpenseDialog(expenses,'1')"
                mat-mini-fab
                color="primary"
                type="button"
                style="margin-right: 5px;"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="warm" type="button" (click)="onDeleteExpense(expenses.Id)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
            <!--
            <div class="example-button-container">
              <button mat-mini-fab color="accent"  type="button" aria-label="Example icon button with a plus one icon">
                <mat-icon>plus_one</mat-icon>
              </button>
            </div> -->
            <!-- <button
              (click)="onDeleteExpense(expenses.Id)"
              class="btn btn-sm btn-outline-danger"
            >
              Delete
            </button> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let expenses; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Product Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="expense-product-details">
      <img
        [src]="productExpense.Image"
        class="img-fluid rounded mt-5 product-image"
        style="max-width: 100%;"
      />
      <p>Purchase Location: {{ productExpense.PurchaseLocation }}</p>
      <p>Vin Number: {{ productExpense.VinNumber }}</p>
      <p>
        Total Expenses:
        <span class="badge badge-danger"
          >&#36; {{ totalExpenses | number }}</span
        >
      </p>
      <p>Purchase Date: {{ productExpense.PurchaseDate | date: "MM/dd/yy" }}</p>
      <p>{{ productExpense.ProductName }} | {{ productExpense.Model }} | {{ productExpense.Year }}</p>
      <button (click)="openAddExpenseDialog()" mat-flat-button color="primary"
        >Add Expense</button
      >
    </div>

  </mat-expansion-panel>
</mat-accordion>
