<app-main-nav></app-main-nav>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- 
<div class="container-fluid no-padding">
  <div class="footer no-padding bg-color1">
    <h2 class="text-center">
      This is a dashboard prototype for managing equipments
    </h2>
  </div>
  <div class="copyright">
    <p class="text-center"><strong>Copyright Nobigroup</strong></p>
  </div>
</div> -->
