.bg-color1 {
  background-color: #3498db;
}

.no-padding {
  padding: 0;
}

.footer {
  margin-top: 5%;
  padding: 5%;
  font-size: 1.5rem;
  color: #fff;
}

.copyright {
  padding: 3%;
}

.nav-link {
  cursor: pointer;
}

@media (max-width:420px) {
  .footer h2 {
    font-size: 1rem;
  }
}
