.product-container {
  margin-top: 40px;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  border: 0.5px solid #f5f5f5;
  cursor: pointer;
}

.product-container:hover {
  box-shadow: 0 0 5px rgba(33, 33, 33, .1);
}

.product-header {
  padding-bottom: 10px;
}

.product-row span {
  font-size: 10px;
  white-space: nowrap;
}

.product-row .btn {
  margin: 0 10px 0;
}

.product-img {
  height: 100px;
  width: 120px;
}

.product-row .btn {
  margin: 0 8px 0;
}

@media (max-width:420px) {
  .product-img {
    float: none !important;
    height: 220px;
    width: 255px;
  }

  .product-row {
    text-align: center;
  }

  .product-row .p-4 {
    padding: 0 !important;
  }

  .product-row span {
    font-size: 14px;
  }
}
mat-card-actions{
  text-align: center !important;
  margin-bottom: 5px !important;
}
mat-card-title {
  font-size: 16px !important;
}
mat-card-subtitle{
  font-size: 12px !important;
}
mat-card-content span{
  float: right;
}
.loss-color{
  color: red;
  font-weight: 700;
}
.profit-color{
  color: green;
  font-weight: 700;
}