
  <mat-grid-list [cols]="breakpoint" rowHeight="36em" (window:resize)="onResize($event)">
    <mat-grid-tile colspan="1" *ngFor="let p of products">
      <mat-card class="product-card">
        <mat-card-header>
          <mat-card-title>{{p.ProductName}} {{p.Model}} {{p.Year}}</mat-card-title>
          <mat-card-subtitle>{{p.VinNumber}}</mat-card-subtitle>
          <span class="spacenavitems"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-product-card-options" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/edit-product', p.Id, 1]">
              <mat-icon>edit</mat-icon>
              <span>Edit Product</span>
            </button>
            <button mat-menu-item (click)="openSaleDialog(p)">
              <mat-icon>add_circle</mat-icon>
              <span>Add Sale</span>
            </button>
            <!-- <button mat-menu-item (click)="openDialog(p)">
              <mat-icon>credit_card</mat-icon>
              <span>Add Payment</span>
            </button> -->
            <button mat-menu-item (click)="openExpenseDialog(p)">
              <mat-icon>note_add</mat-icon>
              <span>Add Expense</span>
            </button>
            <button mat-menu-item rel="noopener noreferrer" (click)="onDeleteProduct(p.Id)">
              <mat-icon>delete_forever</mat-icon>
              <span>Delete Product</span>
            </button>
          </mat-menu>
        </mat-card-header>
        <img mat-card-image src="{{p.Image}}" alt="NobiTrucks image">
        <mat-card-content>
          <p>Total Sale <span>&#36;{{p.TotalSale}}</span></p>
          <p>Total Payments <span>&#36;{{p.TotalPayments}}</span></p>
          <p>Total Expense <span>&#36;{{p.TotalExpenses}}</span></p>
          <p>Profit/Loss <span class="profit-color" *ngIf="p.IsProfit; else losstemplate" [ngClass]="{'loss-color' : p.IsProfit === false}" >Profit</span></p>
          <ng-template #losstemplate>
            <span [ngClass]="{'loss-color' : p.IsProfit === false}">Loss</span>
          </ng-template>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [routerLink]="['/view-expenses', p.Id]">Expenses</button>
          <button mat-raised-button [routerLink]="['/view-sales', p.Id]">Sale</button>
          <button mat-raised-button [routerLink]="['/view-sales', p.Id]">Details</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

<!-- <div class="container">
  <div class="product-container" *ngFor="let p of products">
    <div class="product-header">
      <h4><strong>{{p.ProductName}}</strong></h4>
    </div>
    <div class="product-row">
      <div class="row">
        <div class="col-md-8">
          <div class="row pb-3">
            <div class="col-md-2">
              <img src="{{p.Image}}" class="rounded product-img" />
            </div>

            <div class="col-md-2 p-4">
              <span><strong>Model:</strong>{{p.Model}}</span>
            </div>
            <div class="col-md-2 p-4">
              <span><strong>Year:</strong>{{p.Year}}</span>
            </div>
            <div class="col-md-3 p-4">
              <span><strong>Vin Number</strong>{{p.VinNumber}}</span>
            </div>
            <div class="col-md-3 p-4">
              <span><strong>Purchase Date:</strong>{{p.PurchaseDate | date:"MM/dd/yy"}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 pt-4">
          <a routerLink="/edit-product" class="btn btn-outline-info btn-sm">Edit</a>

          <a [routerLink]="['/view-expenses', p.Id]" class="btn btn-outline-danger btn-sm">Delete</a>

          <a [routerLink]="['/view-expenses', p.Id]" class="btn btn-outline-primary btn-sm">Expenses</a>
          <a [routerLink]="['/view-sales', p.Id]" class="btn btn-outline-success btn-sm">Sales</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
