<div *ngIf="!data.isedit; else isEdit">
  <h4 mat-dialog-title>Add Sale</h4>
  <div mat-dialog-content>
    <form (ngSubmit)="OnAddSale(addSaleForm)" #addSaleForm="ngForm">
      <mat-form-field  appearance="standard">
        <mat-label>Amount</mat-label>
        <input matInput type="number" name="Amount" ngModel>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Currency</mat-label>
        <mat-select name="Currency" ngModel>
          <mat-option value="NGN">&#8358; (NGN)</mat-option>
          <mat-option value="USD">&#36; (USD)</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field  appearance="standard">
        <mat-label>Sale Location</mat-label>
        <input matInput name="SaleLocation" ngModel>
      </mat-form-field>

      <mat-form-field  appearance="standard">
        <mat-label>Description</mat-label>
        <textarea matInput name="Description" ngModel rows="3"></textarea>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Sale Date</mat-label>
        <input matInput [matDatepicker]="picker" ngModel #d name="SaleDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      <div mat-dialog-actions>
        <button mat-button type="button">Cancel</button>
        <button type="submit" mat-flat-button cdkFocusInitial color="primary">Submit</button>
      </div>
    </form>
  </div>
</div>

<ng-template #isEdit>
  <h4 mat-dialog-title>Edit Sale</h4>

  <form (ngSubmit)="onUpdateSale(editForm)" [formGroup]="editForm">

    <input type="hidden"formControlName="Id">

    <mat-form-field  appearance="standard">
      <mat-label>Amount</mat-label>
      <input matInput type="number"  formControlName="Amount">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Currency</mat-label>
      <mat-select formControlName="Currency" ngModel>
        <mat-option value="NGN">&#8358; (NGN)</mat-option>
        <mat-option value="USD">&#36; (USD)</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field  appearance="standard">
      <mat-label>Sale Location</mat-label>
      <input matInput formControlName="SaleLocation">
    </mat-form-field>

    <mat-form-field  appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="Description" rows="3"></textarea>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Sale Date</mat-label>
      <input matInput [matDatepicker]="picker" #d formControlName="SaleDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button>Cancel</button>
      <button type="submit" mat-flat-button cdkFocusInitial color="primary">Submit</button>
    </div>

  </form>
</ng-template>
<!-- <div class="container">

  <div class="row">
    <div class="col-md-6 col-sm-12 mt-5">
      <img [src]="imageSrc" class="img-fluid rounded" style="max-width: 100%" />
    </div>
    <div class="col-lg-6">
      <div class="card mt-5">
        <div class="card-body">
          <form (ngSubmit)="OnAddSale(addSaleForm)" #addSaleForm="ngForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Select product</label>
              <select class="form-control" name="ProductId" ngModel (change)="onProductSelected($event)">
                <option *ngFor="let p of products" value="{{p.Id}}>{{p.Image}}">{{p.ProductName}} {{p.Model}}
                  {{p.Year}}
                  {{p.VinNumber}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlTextarea1">Amount</label>
              <input class="form-control" type="number" name="Amount" ngModel />
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Currency</label>
              <select class="form-control" name="Currency" ngModel>
                <option value="NGN"> &#8358; (NGN)</option>
                <option value="USD">&#36; (USD)</option>
              </select>
            </div>

            <div class="form-group">
              <label>Sale Location</label>
              <input type="text" name="SaleLocation" class="form-control" ngModel />
            </div>


            <div class="form-group">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" name="Description" ngModel rows="3"></textarea>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Date</label>

              <div class="input-group">
                <input class="form-control" ngModel placeholder="yyyy-mm-dd" name="SaleDate" ngbDatepicker
                  #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
