<div class="modal-header">
  <h4 class="modal-title">Edit Expense</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12 col-sm-12">

      <form (ngSubmit)="onEditExpense(f)" #f="ngForm">

        <div class="form-group">
          <label for="exampleInputEmail1">Expense Category</label>
          <select class="form-control" #expenseCatId name="ExpenseCategoryId">
            <option *ngFor="let category of expenseCategoryModel"
              [selected]="expenseModel.Category == category.CategoryName" value="{{category.Id}}">
              {{category.CategoryName}}

            </option>
          </select>

        </div>

        <div class=" form-group">
          <label for="exampleFormControlTextarea1">Amount</label>
          <input class="form-control" [ngModel]="expenseModel.Amount" name="Amount" type="number" />
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Currency</label>
          <select class="form-control" #currency name="Currency">
            <option *ngFor="let currency of currencyUsed" [selected]="currency == expenseModel.Currency"
              value="{{currency}}">
              {{currency}}
            </option>
          </select>
        </div>


        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea class="form-control" name="Description" [ngModel]="expenseModel.Description" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Date</label>

          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="ExpenseDate" [(ngModel)]="expenseDate"
              ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>


    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
